{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %}Home{% endblock title %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Blogging app</h1>
        <p class="lead">A Blogging webapp built by Shaunak using Django.</p>
        {% if not user.is_authenticated %}
            <p class="lead">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary  btn-lg" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">
                    View all Blogs
                </button>
                <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                 tabindex="-1"
                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">You need to log in to continue.</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="text-center">
                                <a class="btn btn-success" href="{% url 'login' %}" role="button">Log In</a>
                                <a class="btn btn-primary" href="{% url 'signup' %}" role="button">SignUp</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{% url 'article_list' %}"
                   role="button">View All Blogs</a>
            </p>
        {% endif %}
    </div>
{% endblock content %}
